#answer_div {
	margin-left: 1em;
}

.brand-logo {
	padding-left: 1em !important; 
}

.parallax-container {
	height: 50vh;
	margin-left: -3em; 
	margin-right: -3em;
}

form {
	margin-right: 3em;
	margin-left: 3em;
}

.username {
	font-style: italic;
}

#welcome {
	color: red;
}

#likes {
	text-align: right;
}

#search_button {
	margin-left: 1em;
}

.tag {
	font-weight: bold;
}

#banner {
	background-color: white;
	margin-left: -2em;
}


footer.page-footer {
	margin-top: 0em;
}

.banner_row {
	margin-bottom: 0em;
}

.space {
	margin: .5em;
	background-color: transparent;
}

.space:hover {
	background-color: transparent;
	font-size: 2em;
}

.inline {
	display: inline;
}

.adjustable {
	margin-top: 4em;
}

#bigger {
	font-weight: bold;
}

#red {
	color: red;
}

#my_tags {
	padding-left: 12em;
	padding-right: 12em;
	font-weight: bold;
}


@media only screen and (max-width: 600px) {
	.adjustable {
	margin-top: .5em;
}

}



