
<script id="403-template" type="x-tmpl-mustache/template">

    <div class="container">
    <br>
    <h2 class="header center red-text">You Do Not Have Access</h2>
    <br><br>
        <h3 class="header center black-text">Please register or login above first</h3>

        <div class="row center"> 
            <br><br>
                <a href="/" class="btn waves-effect waves-light red lighten-1" type="submit" name="action">Back Home</a>
            <br><br>    <br><br>     
        </div>
    </div>
    </div>

    </script>
