
    <script id="about-template" type="x-tmpl-mustache/template">

      </br>
      <div class="row">
        <div class="col s12 m12  l12 ">
          <div class="card z-depth-3">
            <div class="card-content black-text">
              <span class="red-text card-title"><h3>About MyCal</h3></span>
        <p> MyCal aims to create a social network and matching algorithm for participants looking for activities and events that are akin to their interests. The systems is also designed for vendors or clubs that offer different events and want to market to people with specific interest. The system becomes a platform for participants and organizations to share and attend all different kinds of events.</p><br>

        <p> MyCal was born out of the idea that participants and organizations are both frustrated for the same reasons and we wanted to try and fix that. As a group of college students we set out to complete our goal and thus MyCal was born! We hope you enjoy your experience and look forward to rolling out more improvements and features as we grow. </p><br>

        <p>
        Thank you and we hope you enjoy your events! <br><br>

        Best, <br><br>

                <em class="red-text">The MyCal team </em>
        </p>
            </div>
          </div>
        </div>
      </div>

    </script>