<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cypress Slam</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

	<script src="{% static 'js/django_ajax.js'%}"></script>
	<script src="{% static 'js/main.js'%}"></script>

</head>

<body>
    <div id="nav">
    <nav class="blue">
    <!-- Mobile Structure -->
    <ul class="side-nav" id="mobile-demo">
        </li><a href="/" class="center brand-logob"> CypressSlam  </a></li>
        <li><a href="#" id="add"> Add Scores </a></li>
        <li><a id="top" href="#"> Leader Board</a></li>
    </ul>

    <div class="fixed-nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>

        <ul id="nav-mobile" class="left hide-on-med-and-down">  
            </li><a href="/" class="center brand-logob"> CypressSlam  </a></li>
            <li><a href="#" id="add"> Add Scores </a></li>
            <li><a id="top" href="#">Leader Board</a></li>
        </ul>   
        </div>
    </nav>
</div>

    <div class= "button_div" id="answer_div">

        {% block content %}
        <!-- all content from other HTML pages go here -->
        {% endblock content %}

    </div>

    {% block footer %}
        <!-- all footer HTML goes here -->
    {% endblock footer %}

    {% block templates %}
        <!-- all content from other HTML pages go here -->
    {% endblock templates %}

</body>
</html>
