{%verbatim%}

<script id="create-template" type="x-tmpl-mustache">

  <br>      
  <h4 class="center black-text"> Add Your Scores!</h4>

	  <div class="row">
	  <div class="container">
		    <div class="col s12">

        <form action="" id='create_form' method="POST">
            <div class="col s6 center">
                <p>Court Number: </p>   
                <select name="court" class="browser-default">
                    <option value= "court1" >Court 1</option>
                    <option value= "court2" >Court 2</option>
                    <option value= "court3" >Court 3</option>
                    <option value= "court4" >Court 4</option>
                    <option value= "court5" >Court 5</option>
                    <option value= "court6" >Court 6</option>
                    <option value= "court7" >Court 7</option>
                </select>
            </div>
            
            <div class="col s6 center">
                <p>Set Number: </p>   
                <select name="set" class="browser-default">
                    <option value= "set1" >Set 1</option>
                    <option value= "set2" >Set 2</option>
                    <option value= "set3" >Set 3</option>
                    <option value= "set4" >Set 4</option>
                </select>
                <br><br>
            </div>

            <div class="col s7 left">
                <p>Player 1: </p>   
                <select name="player1" class="browser-default">
                    <option value= "joe" >Joe</option>
                    <option value= "jack" >Jack</option>
                </select>
            </div>

	        <div class="input-field col s5">
	        <p>Player 1 Games Won: </p>
	          <input id="player1won" type="text" name ="player1won">
	        </div>

            <div class="col s7 left">
                <p>Player 2: </p>   
                <select name="player2" class="browser-default">
                    <option value= "joe" >Joe</option>
                    <option value= "jack" >Jack</option>
                </select>
            </div>

	        <div class="input-field col s5">
	        <p>Player 2 Games Won: </p>
	          <input id="player2won" type="text" name ="player2won">
	        </div>

            <div class="col s7 left">
                <p>Player 3: </p>   
                <select name="player3" class="browser-default">
                    <option value= "joe" >Joe</option>
                    <option value= "jack" >Jack</option>
                </select>
            </div>

	        <div class="input-field col s5">
	        <p>Player 3 Games Won: </p>
	          <input id="player3won" type="text" name ="player3won">
	        </div>

            <div class="col s7 left">
                <p>Player 4: </p>   
                <select name="player4" class="browser-default">
                    <option value= "joe" >Joe</option>
                    <option value= "jack" >Jack</option>
                </select>
            </div>

	        <div class="input-field col s5">
	        <p>Player 4 Games Won: </p>
	          <input id="player4won" type="text" name ="player4won">
	        </div>

            <div class="col s2 center">    
            <br><br>        
                <button class="btn-large waves-effect waves-light blue right" type="submit" name="action">Submit</button>
            </div>
        </form>

        	</div>
        </div>
        </div>

	</script>
{%endverbatim%}

