{%verbatim%}

<script id="create-template" type="x-tmpl-mustache">

  <br>      
  <h2 class="center black-text"> Add Your Scores!</h2>

	  <div class="row">
	  <div class="container">
		    <div class="col s12">

        <form action="" id='create_form' method="POST">{%endverbatim%}
        {% csrf_token %}

        {%verbatim%}
            <div class="col s10 center">
                <p>Round Number: </p>   
                <select name="round" class="browser-default">
                    <option value= "1" >Round 1</option>
                    <option value= "2" >Round 2</option>
                </select>
            </div>
            
            <div class="col s10 center">
                <p>Set Number: </p>   
                <select name="set" class="browser-default">
                    <option value= "1" >Set 1</option>
                    <option value= "2" >Set 2</option>
                    <option value= "3" >Set 3</option>
                </select>
                <br>
            </div>

            <div class="col s10 left">
                <p>Player: </p>   
                <select name="player" class="browser-default">
                    <option value=""> Select Player</option>
                    <option value="Marc_Shams"> Marc Shams </option>
					<option value="Charles_Kraiem"> Charles Kraiem </option>
					<option value="Ikey_Dweck"> Ikey Dweck</option>
					<option value="Abe_Anteby"> Abe Anteby </option>
					<option value="Bruce_Wartman"> Bruce Wartman </option>
					<option value="Stephen_Gindi"> Stephen Gindi</option>
					<option value="Joe_S."> Joe S. </option>
					<option value="Nathan_Kraiem"> Nathan Kraiem </option>
					<option value="Jimmy_Sutton"> Jimmy Sutton </option>
					<option value="David_Mizrahi"> David Mizrahi </option>
					<option value="Brian_Haddad"> Brian Haddad </option>
					<option value="Albert_Dweck"> Albert Dweck </option>
					<option value="Eddie_Dayan"> Eddie Dayan </option>
					<option value="David_Setton"> David Setton</option>
					<option value="David_Catton"> David Catton</option>
					<option value="Jack_Dweck"> Jack Dweck </option>
					<option value="Joe_Tawil"> Joe R. TAWIL </option>
					<option value="Sammy_Saadie"> Sammy Saadia </option>
					<option value="Joey_Tawil"> Joey Tawil </option>
					<option value="Seymour_Dayan"> Seymour Dayan</option>
					<option value="Ian_Heine"> Ian Heine</option>
                </select>
            </div>

            <div class="col s5 center">
                <p>Games Won: </p>   
                <select name="playerwon" class="browser-default">
                    <option value= "0" >0 Wins</option>
                    <option value= "1" >1 Win</option>
                    <option value= "2" >2 Wins</option>
                    <option value= "3" >3 Wins</option>
                    <option value= "4" >4 Wins</option>
                </select>
                <br><br>
            </div>

            <div class="col s5 center">
                <p>Games Lost: </p>   
                <select name="playerloss" class="browser-default">
                    <option value= "0" >0 Losses</option>
                    <option value= "1" >1 Loss</option>
                    <option value= "2" >2 Losses</option>
                    <option value= "3" >3 Losses</option>
                    <option value= "4" >4 Losses</option>        
                </select>
                <br><br>
            </div>

            <div class="col s5 center">    
            <br><br>        
                <button class="btn-large waves-effect waves-light blue center" type="submit" name="action">Submit</button>
            </div>
        </form>

        	</div>
        </div>
        </div>
<br><br> <br><br> <br><br> <br><br> 

	</script>
{%endverbatim%}

