{%verbatim%}

<script id="create-template" type="x-tmpl-mustache">

  <br>      
  <h4 class="center red-text"> Add Your Event!</h4>

    <form action="" id='create_form' method="POST">

	<div class="section white">
	  <div class="row">
	  <div class="container">

		    <div class="col s12">

		    	<div class="col s12">
			      	<p>Place: <span class="directions"> Ex: Flatbush Highschool Gym </span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="place" class="validate">
					</p><br>
				</div>

				<div class="col s12 m4 l4">

					<p>Address: <span class="directions"> Ex: 1400 Broadway</span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="address" class="validate">
					</p>

					<p>Date: <span class="directions"> Ex: Sunday, July 24th</span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="date" class="validate">
					</p>
				</div>

		    	<div class="col s12 m4 l4">
		      		<p>Price Level: </p>				
					<p>
				      <input class="with-gap" name="price" value="$" type="radio" id="$"  />
				      <label for="$">$</label>
				    </p>
					<p>
				      <input class="with-gap" name="price" value="$$" type="radio" id="$$"  />
				      <label for="$$">$$</label>
				    </p>
				    <p>
				      <input class="with-gap" name="price" value="$$$" type="radio" id="$$$"  />
				      <label for="$$$">$$$</label>
				    </p>
				    <p>
				      <input class="with-gap" name="price" value="$$$$" type="radio" id="$$$$"  />
				      <label for="$$$$">$$$$</label>
				    </p><br>
				</div>

				<div class="col s12 m4 l4">
			      	<p>Phone: <span class="directions"> Ex: 718-888-8080</span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="phone" class="validate">
					</p>

			      	<p>Website: <span class="directions"> Ex: http://google.com </span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="website" class="validate">
					</p>
				</div>

				<div class="col s12 m12 l12">
					<div class="input-field col s12">
			      	<p>Description: <span class="materialize-textarea directions"> Ex:</span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="description" class="validate">
					</p>
					</div>

				</div>

			</div>
		</div>

    	<div class="row">
		<div class="container">
			<div class="col s4"><p></p></div>
			<div class="col s4">	
				<br><br>
				<button class="btn waves-effect red waves-light" type="submit" name="action">Next
				    <i class="material-icons right">send</i>
			    </button>
			    <br>
			</div>
			<div class="col s4"><p></p></div>
		</div>
		</div>

    </form>

	</script>
{%endverbatim%}

