{% extends "base.html" %}
{% block content %}
{% load staticfiles %}


    <div class= "button_div" id="answer_div">
        
        <div class="section" id="banner">
            <div class="row center"> 
        
                <br><br><br>
                <h3 id="blue">Cypress Slam 2016!</h3>
                <br><br><br>
                <h5 id="blue">Add Scores and Check Standing on the go!</h5>
                <div id="spacer"> </div>
                <a href="#" id="add" class="btn-large waves-effect waves-light blue space" type="submit" name="action">Add Scores</a>
                <a href="#" id="top" class="btn-large waves-effect waves-light blue space" type="submit" name="action">View Leader Board</a>

            </div>
        </div>

    </div>

{% endblock content %}

{% block footer %}
<footer class="page-footer blue">

    <div class="container" id="footer">
        <div class="row">
            <div class="col l8 s12">
                <h5 class="black-text">Company Bio</h5>
                <p class="black-text">The project aims to create a social network and matching algorithm for participants looking for activities and events that are akin to their interests. The systems is also designed for vendors or clubs that offer different events and want to market to people with specific interest. The system becomes a platform for participants and organizations to share and attend all different kinds of events.</p>
                </div>

                    <div class="col l1 m0 s0">
                        <!-- this is just a spacer -->
                        <p></p>
                    </div>

                <div class="col l3 m5 s5">
                    <h5 class="black-text">Social</h5>
                    <ul>
                        <li><a class="black-text" id="hover" href="http://www.jackanteby.com">Jack's Personal Page</a></li>
                        <li><a class="black-text" id="hover" href="https://github.com/Janteby1/date-abase-v2.0.git">GitHub Code</a></li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row align left">
                <span class="blue-grey-text text-darken-3" id="bold"> © Copyright: </span> <a class="black-text" href="#">Jack A. Anteby 2016 | All Rights Reserved.</a>
            </div>
        </div>
    </div>

</footer>

{% endblock footer %}


{% block templates %}

    {% include "about.html"%}
    {% include "create.html"%}
    {% include "403.html"%}
    {% include "thanx.html"%}
    {% include "results.html"%}

{% endblock templates %}




