{% extends "base.html" %}
{% block content %}
{% load staticfiles %}


    <div class= "button_div" id="answer_div">
        
        <div class="section" id="banner">
            <div class="row center"> 
        
                <br><br><br>
                <h1 id="blue">Cypress Slam 2016!</h1>
                <br><br><br>
                <h3 id="blue">Add Scores and Check Standing on the go!</h3>
                <div id="spacer"> </div>
                <a href="#" id="add" class="btn-large waves-effect waves-light blue space" type="submit" name="action">Add Scores</a>
                <a href="#" id="top" class="btn-large waves-effect waves-light blue space" type="submit" name="action">View Leader Board</a>

            </div>
        </div>

    </div>

{% endblock content %}

{% block footer %}
<footer class="page-footer blue">

    <div class="container" id="footer">
        
    <div class="footer-copyright">
        <div class="container">
            <div class="row align left">
                <span class="blue-grey-text text-darken-3" id="bold"> © Copyright: </span> <a class="black-text" href="#">Jack A. Anteby 2016 | All Rights Reserved.</a>
                <a class="black-text" id="hover" href="http://www.jackanteby.com">Jack's Personal Page</a>
            </div>
        </div>
    </div>

</footer>

{% endblock footer %}


{% block templates %}

    {% include "about.html"%}
    {% include "create.html"%}
    {% include "403.html"%}
    {% include "thanx.html"%}
    {% include "results.html"%}
    {% include "results_all.html"%}
    {% include "edit.html"%}

{% endblock templates %}




