
    <script id="user_login-template" type="x-tmpl-mustache/template">

	<div class="container">
	<br>
	<h2 class="header center red-text">Login</h2>
		<div class="row center">

        <form action="" id='user_login_form' method="POST">

            {% csrf_token %}
            {{ user_login_form.as_p }}

            <input class="btn waves-effect waves-light red black-text" id="user_register_button" type="submit" name="action" value= "Login" <i class="material-icons right"></i>
            <br><br>
        </form>

    </script>
