
    <script id="user_register-template" type="x-tmpl-mustache/template">

      <div class="container">
      <br>      
      <h4 class="center red-text"> Become Part of The Growing Family</h4>
      <br><br>

        <form action="" id='user_register_form' method="POST">

            {% csrf_token %}
            {{ user_creation_form.as_p }}

            <input class="btn waves-effect waves-light red black-text" id="user_register_button" type="submit" name="action" value= "Submit Registration" <i class="material-icons right"></i>
            <br><br>
        </form>

    </script>
